:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --dark-green-color: #556b2f;
  --olive-color: #808000;
  --yellow-green-color: #9acd32;
  --primary-white-color: #ffffff;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
